@font-face {
  font-family: "noir";
  src: url("../fonts/Film\ Noir.ttf");
}

@font-face {
  font-family: "deadlock";
  src: url("../fonts/Colus-Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: deadlock, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffefd7;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-text-stroke: 0.1px #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

video {
  position: fixed;
  z-index: -1;
  right: 0;
  bottom: 0;
  object-fit: center;
  min-width: 100%;
  min-height: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 0 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

.diff-btn.active {
  outline: 4px auto -webkit-focus-ring-color;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 24px;
  align-items: center;
  justify-content: start;
}

.header-container {
  display: flex;
  align-items: center;
  margin: 20px;
}

.header-container h1 {
  font-size: 50px;
}

.logo img {
  height: 60px;
}

.score-container {
  margin: 10px;
  display: flex;
  min-width: 350px;
  justify-content: space-between;
}

.score-container h3 {
  font-size: 23px;
}

.difficulty-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin: 10px;
  width: 80%;
  height: 800px;
}

.card {
  flex: 1 1 220px;
  max-width: 220px;
  max-height: 320px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  border: 10px solid black;
  background-color: #423837;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-name {
  margin-top: auto;
  font-family: "noir";
  font-size: 50px;
  font-weight: bold;
  color: #ffefd7;
  -webkit-text-stroke: 0.8px #000000;
}

.game-over,
.game-win {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  height: 250px;
  width: 600px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
