@font-face {
  font-family: "noir";
  src: url("../fonts/Film\ Noir.ttf");
}

@font-face {
  font-family: "deadlock";
  src: url("../fonts/Colus-Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: deadlock, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffefd7;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-text-stroke: 0.1px #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

video {
  position: fixed;
  z-index: -1;
  right: 0;
  bottom: 0;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 5px 10px;
  color: #ffefd7;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

.diff-btn.active {
  outline: 4px auto -webkit-focus-ring-color;
}

.app {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
  gap: 10px;
}

.header-container h1 {
  font-size: 3rem;
}

.logo img {
  height: 60px;
}

.score-container {
  margin: 7px;
  display: flex;
  min-width: 250px;
  width: 90%;
  max-width: 350px;
  justify-content: space-between;
}

.score-container h3 {
  font-size: 1.4rem;
}

.difficulty-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game-container {
  display: grid;
  gap: 15px;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
}

.card {
  perspective: 1000px;
  position: relative;
  width: 100%;
  aspect-ratio: 3/4;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card.flip .card-inner {
  transform: rotateY(180deg);
}

.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  background-position: center;
  background-size: cover;
  background-color: #423837;
}

.back {
  /* border: 10px solid black; */
  width: 100%;
  transform: rotateY(180deg);
  background-image: url("../assets/logo.png");
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.card:hover .card-inner {
  transform: rotateY(var(--rot, 0deg));
}

.card.flip .card-inner {
  --rot: 180deg;
}

.card-content {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 100%;
  margin-top: auto;
  font-family: "noir";
  font-size: 36px;
  font-weight: bold;
  color: #ffefd7;
  -webkit-text-stroke: 0.8px #000000;
  background-position: center;
  background-size: cover;
  backface-visibility: hidden;
  padding: 2px;
}

.no-mouse {
  pointer-events: none;
}

.no-hover.card:hover {
  transform: none !important;
  box-shadow: none !important;
}

.progress {
  font-size: 1.8rem;
  margin-top: 20px;
}
.game-over,
.game-win {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  height: 250px;
  width: 600px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* mobile */
@media (max-width: 480px) {
  .app {
    padding: 10px;
  }

  .header-container {
    margin-bottom: 0;
  }

  .header-container h1 {
    font-size: 2.2rem;
  }

  .logo img {
    height: 45px;
  }

  .score-container {
    max-width: 250px;
    margin-bottom: 0;
  }

  .score-container h3 {
    font-size: 1rem;
  }

  .difficulty-container {
    margin: 5px;
  }

  .difficulty-buttons button {
    height: 45px;
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }

  .game-container {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    padding: 5px;
  }

  .card {
    max-width: 140px;
  }

  .card-name {
    font-size: 1.8rem;
  }

  .progress {
    font-size: 1.2rem;
  }
}

/* tablets and smaller screens */
@media (min-width: 481px) and (max-width: 800px) {
  .score-container {
    max-width: 300px;
    margin-bottom: 7px;
  }

  .score-container h3 {
    font-size: 1.2rem;
  }

  .difficulty-buttons button {
    height: 45px;
  }

  .card-name {
    font-size: 2.2rem;
  }

  .progress {
    font-size: 1.6rem;
  }
}

/* bigger screens */
@media (min-width: 1200px) {
  .header-container h1 {
    font-size: 3.5rem;
  }

  .card-name {
    font-size: 2.2rem;
  }
}
